<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clusters</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/Table_style.css')}}">
</head>

<body>

    <h1>Resultado Clusters</h1>
    <div class="table-wrap">
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Ingresos</th>
            <th>Gasto</th>
            <th>Cluster</th>
        </tr>
        {% for persona in resultado %}
        <tr>
            <td>{{ persona.nombre }}</td>
            <td>{{ persona.edad }}</td>
            <td>{{ persona.ingresos }}</td>
            <td>{{ persona.gasto }}</td>
            <td><span class="badge">{{ persona.cluster }}</span></td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <h1>Centroides</h1>
    <div class="table-wrap">
    <table border="1">
        <tr> 
            <th>Edad Promedio</th>
            <th>Ingresos Promedio</th>
            <th>Gasto Promedio</th>
        </tr>
        {% for centroide in centroides %}
        <tr>
            <td>{{ centroide[0] }}</td>
            <td>{{ centroide[1] }}</td>
            <td>{{ centroide[2] }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <h1>Resumen Clusters</h1>
    <div class="table-wrap">
    <table border="1">
        <tr>
            <th>Cluster</th>
            <th>Cantidad de Personas</th>
        </tr>
         {% for cluster, cantidad in resumenClusters.items() %}
        <tr>
            <td>{{ cluster}}</td>
            <td>{{ cantidad}}</td>
        </tr>
        {% endfor %}
        
    </table>
    </div>
</body>

</html>