<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PGC - Google Play Store</title>
</head>
<body>
    
    <header>
        <div class="header-inner">
        <p class="header-tag">Planteamiento General del Caso</p>
        <h1>Google Play Store:<br><span>Patrones de Exito</span></br>en Aplicaciones Moviles</h1>
        <p class="header-subtitle"/>
    un estudio analitico sobre la segmentacion, 
    calificacion y popularidad de aplicaciones en 
    la tienda digital mas grande del mundo
        </p>
        <hr class="header-rule"/>
        <div class="header-meta">
            <span>Analisis de Datos · 2024</span>
            <span>Googel Play Store Dataset</span>

        </div>
        </div>
    </header>
</body>
</html>